/*IMPORTACIÓN DE FONTS-------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*ESTILOS GENERALES-----------*/
:root{
  --fondo: #202020;
  --headerColor: #3B3B3B;
  --fontColor: #FFFAFA;
  --cosoBlanco: #D9D9D9;
}
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}
.none{
  display: none !important;
}
body{
  background-color: var(--fondo);
  background-image: url("../assets/fondo-modo-oscuro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
   margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}
body.light {
  background: #ffffff;
  color: #000;
}

body.dark {
  background-image: "../assets/fondo-modo-oscuro.png";
  color: #fff;
}

header{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;  
}
header div{
  width: 40vw;
  height: 100%;
  background-color: var(--headerColor);
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.541);
}
header div h1{
  font-family: Gabarito;
  letter-spacing: 2px;
  font-weight: 100;
  color: var(--fontColor);
  font-size: 2.5vw;
}
main{
  min-height: 100vh;
}
.main__section{
  width: auto;
  position: absolute;
}
/*.main__section:hover{
  width: 420px;
}*/
.main__section-div{
  background-color: var(--headerColor);
  height: 600px;
  width: 85px;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.541);
  transition: width 0.3s ease;

  img{
    height: 55px;
    width: 55px;
  }
  .senialestext{
      display: none;
    }
  .item{
    div{
      display: none;
    }
  }
}
  
@media(min-width:851px){
  .main__section-div:hover{
  width: 420px;
}
.main__section-div:hover{
  background-color: var(--headerColor);
  height: 600px;
  width: 420px;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.541);
  position: relative;
  transition: width 0.2s ease;

  .senialestext{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
  }
  div{
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
  }
  .item{
    height: 100%;
    width: 100%;

    div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--fontColor);
    }

  }
  img{
    height: 55px;
    width: 55px;
    
  }
  .cosoblanco{
    border-radius: 100px;
    position: absolute;
    left: 8px;
    top: 0;
    height: 80px;
    width: 400px;
    background-color: var(--cosoBlanco);
    z-index: 1;
    transition: transform 0.3s ease;
  }
  .cosopos{
    transform: translateY(35px);
  }
}
}



/*seguimiento del cursor */
.main__section-div:has(.item:nth-child(3):hover) .cosoblanco {
  transform: translateY(35px);
}
.main__section-div:has(.item:nth-child(4):hover) .cosoblanco {
  transform: translateY(105px);
}
.main__section-div:has(.item:nth-child(5):hover) .cosoblanco {
  transform: translateY(191px);
}
.main__section-div:has(.item:nth-child(6):hover) .cosoblanco {
  transform: translateY(271px);
}
.main__section-div:has(.item:nth-child(7):hover) .cosoblanco {
  transform: translateY(353px);
}
.main__section-div:has(.item:nth-child(8):hover) .cosoblanco {
  transform: translateY(433px);
}
.main__section-div:has(.item:nth-child(9):hover) .cosoblanco {
  transform: translateY(517px);
}

/* BOTÓN DE TEMAS-------------------- -------*/
.theme-toggle {
  width: 40px;
  height: 109px;
  background: #ccc;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  margin-top: 15px;
  margin-right: 6px;
}

.theme-container{
  display: flex;
  width: 55px;
  height: 142px;
  background-color: var(--headerColor);
  border-radius: 15px 0px 0px 15px;
  flex-direction: row-reverse;
  box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.404);
  position: absolute;
}

.switch-container{
  width: 35px;
  height: 50px;
  background-color: #6C6C6C;
  border-radius: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 8px;
  transition: 0.3s;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.61);
}

span.material-symbols-outlined.Light{
  color: black;
  z-index: 2;
  position: relative;
  top: 5px;
}

span.material-symbols-outlined.Dark{
  color: white;
  z-index: 2;
  position: relative;
  top: 45px;
}

/* CONTENEDOR DE SEÑALES---------------------------------------*/
.seniales-container{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: center;
}
.seniales-container div {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 40px; 
  padding: 20px;
  width: 11.5vw;
  height: 11.5vw;
}
.seniales-container div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.theme-containerr{
  display: flex;
  flex-direction: row-reverse;
}

/* ICONOS  DEL BOTON TEMAS*/
.icon {
  font-size: 16px;
  z-index: 1;
}

/*PARTE FOOTER------------------*/
footer {
  background-color: var(--headerColor);
  color: #ffffff;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* NOMBRE DEL GRUPO */
.footer-left .brand {
  font-size: 22px;
  font-family: Noto Sans;
}

/* INFO Y LOGOS */
.footer-center {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-center .icon2 {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.footer-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer-text .title {
  margin: 0;
  font-family: serif;
  font-size: 24px;
}
.footer-text .subtitle {
  margin: 0;
  font-size: 24px;
  font-family: serif;
}

/*PARTE DERECHOS RESERVADOS*/
.footer-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  opacity: 0.8;
  color: #A8A6A6;
  font-family: monospace;
  justify-content: end;
  height: 20vh;
}
.ultimo{
  display: none;
}


@media (max-width: 1150px) {
  .seniales-container{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 850px) {
  header{
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;  
}
header div{
  width: 50vw;
  height: 55%;
  background-color: var(--headerColor);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.541);
}
  .main__section-div:hover{
    position: fixed;
    height: 100%;
  width: 100%;
}
.main__section-div{
  position: fixed;
  background-color: var(--headerColor);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.541);
  transition: width 0.2s ease;

  .senialestext{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
  }
  div{
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
  }
  .item{
    height: 100%;
    width: 100%;

    div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--fontColor);
    }

  }
  img{
    height: 55px;
    width: 55px;
    
  }
  .cosoblanco{
    border-radius: 100px;
    position: absolute;
    left: 8px;
    top: 0;
    height: 80px;
    width: 94vw;
    background-color: var(--cosoBlanco);
    z-index: 1;
    transition: transform 0.3s ease;
  }
  .cosopos{
    transform: translateY(35px);
  }
}

.seniales-container div {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 40px; 
  padding: 20px;
  width: 20.5vw;
  height: 20.5vw;
}
.theme-toggle {
  width: 40px;
  height: 109px;
  background: #ccc;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  margin-top: 15px;
  margin-right: 6px;
  box-shadow:
    inset 0 5px 10px rgba(0, 0, 0, 0.459),
    inset 0 10px 20px rgba(0,0,0,0.4);
}
.theme-container{
  display: flex;
  width: 55px;
  height: 142px;
  background-color: var(--headerColor);
  border-radius: 0px 0px 15px 15px;
  flex-direction: row-reverse;
  box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.404);
  position: absolute;
  top: -30px;
  right: 37px;
  transform: rotate(90deg);
  transform-origin: center;
  scale: 0.9;
}
.ultimo{
  padding-top: 10px;
  display: flex !important;
  flex-direction: row;
  div{
    background-color: var(--headerColor);
    border-radius: 0px 15px 15px 0px;
    height: 8vw;
    width: 30vw;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 7px;
    align-items: center;
    color: var(--fontColor); 
    img{
      text-align: center;
      width: 6vw;
      height: 6vw;
      margin-right: 5px;
      
    }
    h2{
      font-weight: 100;
      font-size: 3vw;
    }
    .mostrar{
      height: 100%;
      width: 100%;
      position: absolute;
      
    }
  }
}
}

.señale {
  transition: transform 0.2s;
}

.animando {
  animation: rebote 1s ease;
}

.fade-out {
  animation: desaparecer 0.4s forwards;
}

@keyframes rebote {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.2); } 
  70%  { transform: scale(0.8); } 
  100% { transform: scale(1); }   
}

@keyframes desaparecer {
  from { opacity: 1; }
  to   { opacity: 0; }
}